.inputFieldBackground {
    display: flex;
    flex-direction: column;
    width: 98%;
}

.inputField-label {
    font-size: small;
}

.inputField {
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: x-small ;
    box-sizing: border-box;
    padding-left: 5px;
}