.selector-container{
    width: 100%;
}
.selector-dropdown {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1.5px solid #ccc;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: small;
    text-align: center;
    background-color: transparent;
    outline-color: transparent;
}