.home-section{
    height: 100vh;
    width: 100%;
    background: url('../imgs/heroHome.jpg') no-repeat center center/cover fixed;
    text-align: center;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
